.srp {
    --center-width: 670px;
}
.emcav.A8SBwf.h3L8Ub {
    width: var(--center-width);
}

/* 搜索框 */
.tsf,
.tsf .A8SBwf {
    padding-left: 0 !important;
    width: var(--center-width);
    margin: 0 auto !important;
    display: flex;
}
.RNNXgb {
    flex: 1;
}
.minidiv .RNNXgb {
    margin: 10px auto !important;
}
.KLEmSd {
    border-color: #E2E2E2;
}

/* 特殊节日时，搜索框后面的背景图 */
.JcyVnf {
    right: -168px;
}

/* 搜索框 - 输入状态 */
.sbfc .RNNXgb,
.emcav .RNNXgb {
    margin: auto;
}
.srp .UUbT9 {
    width: 670px;
    margin: auto;
    left: 0;
    right: 0;
    top: 44px;
}
.minidiv .logo {
    margin: 10px auto !important;
}

/* 搜索推荐中的举报按钮 */
.MG7lrf {
    margin-top: -24px;
    position: unset;
    right: unset;
    margin-right: 12px;
}

/* 右侧登陆等按钮 */
.Q3DXx .Q3DXx {
    position: absolute;
    right: 0;
}









/* 搜索结果分类 */
#hdtb-msb {
    margin: auto !important;
    float: unset !important;
    width: 690px;
    min-width: 690px;
}
#hdtb-msb > div > div {
    margin-left: 0 !important;
}
.xhjkHe {
    display: flex;
    flex: 1;
    max-width: unset;
}
.appbar,
#result-stats {
    padding-left: 0;
}

/* 筛选工具 */
#tn_1 {
    max-width: var(--center-width);
    margin: auto;
}
.LkcePc {
    display: none;
}

/* 文字超过最大长度的提示 */
.JsW2z {
    margin: 0 auto 8px auto;
    max-width: var(--center-width);
    padding-left: 10px;
}

/* "安全搜索功能已关闭"提示 */
.zNFAfd {
    width: 670px;
    margin: 24px auto 4px auto;
}

/* 搜索结果统计 */
#slim_appbar > div {
    margin: auto;
    width: 690px;
    position: unset;
}
.appbar {
    margin-left: 0 !important;
}
#result-stats {
    padding-left: 10px;
}

/* 搜索结果 */
.M8OgIe {
    margin-left: 326px !important;
}
#rcnt {
    margin: auto !important;
}
#center_col {
    margin: 0 auto;
}
#center_col.xKxVbb {
    margin-left: 20px;
}

/* 把搜索结果中的网址移到标题下方 */
/*.B6fmyf {
     position: unset;
     top: unset;
     height: unset;
     visibility: unset;
}
.NJjxre {
    display: none;
}
.g, .KIy09e {
     margin-bottom: 16px; 
}
.yuRUbf > a > br {
    display: none;
}
.DKV0Md {
    padding-top: 0;
}
.LC20lb {
    margin-bottom: 0;
}*/



.qogDvd {
    max-width: calc(var(--center-width) + var(--rhs-margin));
    margin: auto;
    padding-left: 0;
}
div[role="navigation"] > div:last-child {
    position: absolute;
    right: 0;
}
.JiJthb {
    margin-top: -2px;
}

/* 将维基百科的信息放到右侧，防止将搜索结果挤占到左侧 */
#rhs {
    position: absolute;
    top: 142px;
    z-index: 1;
    left: calc(50% + 300px);
}
.main,
.e9EfHf,
#rcnt,
#rhs {
    background: inherit;
}


/* 搜索结果顶部，人物栏居中显示 */
.GyAeWb {
    display: block;
}
.XqFnDf {
    width: var(--center-width);
    margin: 0 auto;
}
.GCSyeb {
    position: static;
}





/* 底部信息居中 */
.b0KoTc {
    padding-left: 0;
    margin-left: 0;
}
.B4GxFc,
.fbar + .fbar {
    width: var(--center-width);
    margin: auto;
}
.Fx4vi:first-child {
    padding-left: 0;
}
.B4GxFc {
    margin-left: 0;
}




/* 搜索结果中的特殊词条展示，如搜索“电影“ */
.appbar {
    width: var(--center-width);
    margin: auto !important;
}
.XKnPEd,
.aHd5n {
    margin-left: 0;
}


/* 以图搜图的搜索结果 */
.jOYx5b {
    width: 100%;
}
.o6juZc {
    margin: auto;
    width: 580px;
}
.dAEiw.dXdtIf > div:first-child {
    width: 100%;
}
/*.cj2HCb.iuN0sf {
    position: absolute;
    right: 0;
    top: 20px;
}*/
.iSZmU {
    margin-left: 0;
}
.tAcEof {
    margin-top: 2px;
}
.tAcEof {
    min-width: 580px;
    margin: auto;
    padding-right: 0;
    padding-left: 194px;
}
.Si7Nvc {
    padding-left: 156px;
}
.rNl3nf .qcTKEe {
    padding-left: 0;
}
.qcTKEe .D0HoIc {
    width: 580px;
    margin: auto;
    -moz-box-pack: start;
    justify-content: flex-start;
}
