.srp {
    --center-width: 670px;
}
.emcav.A8SBwf.h3L8Ub {
    width: var(--center-width);
}


/* 搜索结果居中 */
#rcnt:not(.gIatYd) > div {
    display: flex;
    flex-wrap: nowrap;
    width: var(--center-width);
    margin: 0 auto;
}
#center_col:not(.xKxVbb) {
    display: flex;
    flex-flow: column;
/*    width: var(--center-width);*/
    margin: auto;
}
/* 将维基百科的信息放到右侧，防止将搜索结果挤占到左侧 */
#center_col:not(.xKxVbb) {
    min-width: 100%;
}
#rhs {
    margin-left: 24px;
}
/* 已登录账户 / 设置按钮浮动到右边，然后搜索框就可以居中 */
form[role="search"] + div {
    position: absolute;
    right: 0;
}
/* 让搜索框居中 */
form[role="search"] {
    margin: auto;
    width: var(--center-width);
    flex-grow: 0;
}
/* 让搜索框垂直居中 */
#searchform.minidiv {
    height: 52px;
}
/* 去除搜索框两边多余的空白 */
form[role="search"] > div:first-child > div:first-child {
    margin: 0 !important;
    /*  左侧 padding 是预留给输入状态时显示在左侧的搜索 icon 的，删除会导致一点击搜索框，字的位置就变化，所以保留 padding  */
    padding-left: 0 !important;
    transform: unset;
}
/* 去除搜索框输入状态显示在输入框左边的搜索 icon */
.emcav .iblpc,
.logo + div > div > div:first-of-type {
    padding-right: 6px;
    margin-left: 0 !important;
}
.logo + div > div > div:first-of-type > div {
    display: none;
}


/* 特殊节日时，搜索框后面的背景图 */
.JcyVnf {
    right: -168px;
}

/* 搜索框 - 输入状态 */
form[role="search"] .logo + div,
form[role="search"] .logo + div + div > div:first-child > div:nth-of-type(4) {
    width: var(--center-width) !important;
    margin: 0 !important;
    box-sizing: border-box;
}
/* 搜索框 - 搜索结果推荐 */
form[role="search"] .logo + div + div {
    margin: 0;
    width: var(--center-width);
}
/* 避免切换至输入状态时 logo 的左移 */
.logo {
    margin-left: 0 !important;
}



/* 搜索结果分类 */
.y3NyWc .TrmO7 {
    min-width: unset;
    max-width: var(--center-width);
}
.sBbkle {
    padding-left: unset;
}
#hdtb-msb {
    margin: auto !important;
    float: unset !important;
    width: 690px;
    min-width: 690px;
}
#hdtb-msb > div > div {
    margin-left: 0 !important;
}
.xhjkHe {
    display: flex;
    flex: 1;
    max-width: unset;
}
.appbar,
#result-stats {
    padding-left: 0;
}
.y3NyWc {
    width: unset;
}
.y3NyWc .TrmO7 {
    margin: auto;
}

/* 筛选工具 */
#tn_1 {
    max-width: var(--center-width);
    margin: auto;
}
.LkcePc {
    display: none;
}

/* 文字超过最大长度的提示 */
.JsW2z {
    margin: 0 auto 8px auto;
    max-width: var(--center-width);
    padding-left: 10px;
}

/* "安全搜索功能已关闭"提示 */
.zNFAfd {
    width: 670px;
    margin: 24px auto 4px auto;
}

/* 搜索结果统计 */
#slim_appbar > div {
    margin: auto;
    width: 690px;
    position: unset;
}
.appbar {
    margin-left: 0 !important;
}
#result-stats {
    padding-left: 10px;
}

/* 搜索结果 */
#center_col {
    margin: 0 auto;
}
.YNk70c,
#w7tRq {
    display: block;
}
.M8OgIe {
    margin-left: 0px;
    width: calc(var(--center-width) + 320px);
}
#rcnt {
    margin: auto !important;
}
/*#center_col {
    margin: 0 auto;
    width: var(--center-width);
}*/
#center_col.xKxVbb {
    margin-left: 20px;
}



/* 全部/购物/图片/新闻/.... */
div[role="navigation"][data-st-tgt="mode"] > div:first-of-type > div:first-of-type > div:first-of-type > h1 + div > div:first-of-type,
#main > div > style + div > div[role="navigation"] {
    padding: 0;
    margin: 0 auto;
    width: var(--center-width);
}
div[data-st-tgt="mode"] h1 + div > div > div {
    margin-left: 0;
}
/* 解决右边“已保存”的父元素的间距导致无法居中的问题 */
div[id^="abss_"] {
    margin: 0;
}
div[id^="abss_"] > ol[role="none"] {
    position: absolute;
    right: 0;
}


/* --------------- 图片搜索结果 --------------- */
#searchform > div:last-of-type {
    margin-left: 0;
    height: 100%;
}

/* 购物栏目 */
.appbar {
    width: 100% !important;
}
div[data-st-tgt="appbar"] > div:first-of-type > div:last-of-type {
    margin: 0 auto;
    width: var(--center-width);
}


/* 搜索结果顶部，人物栏居中显示 */
.GyAeWb.EyBRub {
    flex-flow: column;
}
/* 人物搜索 - 名字 */
.XqFnDf {
    width: var(--center-width);
}
.GCSyeb {
    position: static;
}



/* 底部信息居中 */
.b0KoTc {
    padding-left: 0;
    margin-left: 0;
}
.B4GxFc,
.fbar + .fbar {
    width: var(--center-width);
    margin: auto;
}
.Fx4vi:first-child {
    padding-left: 0;
}




/* 搜索结果中的特殊词条展示，如搜索“电影“ */
.appbar {
    width: var(--center-width);
    margin: auto !important;
}
.XKnPEd,
.aHd5n {
    margin-left: 0;
}



/* 以图搜图的搜索结果 */
.jOYx5b {
    width: 100%;
}
.o6juZc {
    margin: auto;
    width: 580px;
}
.dAEiw.dXdtIf > div:first-child {
    width: 100%;
}
.iSZmU {
    margin-left: 0;
}
.tAcEof {
    margin-top: 2px;
}
.tAcEof {
    min-width: 580px;
    margin: auto;
    padding-right: 0;
    padding-left: 194px;
}
.Si7Nvc {
    padding-left: 156px;
}
.rNl3nf .qcTKEe {
    padding-left: 0;
}
.qcTKEe .D0HoIc {
    width: 580px;
    margin: auto;
    -moz-box-pack: start;
    justify-content: flex-start;
}
